---
import ElementosNav from "./elementos-nav.astro"
---

<nav class="hidden md:block flex-row justify-end ">
    <ElementosNav
        href="/"
        body="Home"
    />
    <ElementosNav
        href="/contacto"
        body="Contacto"
    />
    <ElementosNav
        href="/hora"
        body="Hora"
    />
    <ElementosNav
        href="/agustes"
        body="Agustes"
    />
</nav>